@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


@layer components {

  /* inputs */
  input[type="text"], 
  input[type="number"]
  {
      @apply h-10 border px-4 w-full bg-gray-50 text-gray-800 appearance-none outline-none border-gray-400;
  }


  select {
      @apply h-10 border px-4 w-full bg-white text-gray-800 outline-none border-gray-400; 
  }

  /* green submit button */
  .btn {
    @apply px-6 h-10 font-semibold text-lg;
  }

  .btn-submit {
    @apply text-gray-100 bg-teal-600 hover:bg-teal-800;
    /* background-color: #2A9D8F; */
  }

  .btn-cancel {
    @apply bg-red-700 hover:bg-red-600 text-gray-200; 
  }

  textarea {
    @apply border px-2 w-full bg-gray-50 text-gray-800 appearance-none outline-none;
  }

  table > thead > tr > th {
    @apply ps-2 h-10 text-lg bg-dark-50 text-gray-300 w-60 border-r font-normal not-italic;
  }

  table > tbody > tr > td {
    @apply bg-white ps-3 h-10;
  }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #f2f7f8;
} 

.bg-dark-50, nav {
    background-color: #264653 !important;
    color: #f2f7f8;
}



.bg-secondary-light {
    color : #41464b;
    background-color: #e2e3e5;    
}

/* tbody, th, thead {
    font-style: normal;
    font-weight: normal;
} */

table tr td {
  font-weight: 300;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  border-bottom-width: 0.8px;
  line-height: 1.43;
  color:rgba(0, 0, 0, 0.87);
}

select option {
  font-weight: 300;
}

a.text-link {
  color: #2A9D8F;
}